/*#region normalize.css v8.0.1------------------------------------------------*/

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
    display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
    border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
    display: none;
}

/*#endregion normalize.css v8.0.1---------------------------------------------*/

/*#region X Icon font --------------------------------------------------------*/

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?eq1rxv');
    src:  url('../fonts/icomoon.eot?eq1rxv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?eq1rxv') format('truetype'),
    url('../fonts/icomoon.woff?eq1rxv') format('woff'),
    url('../fonts/icomoon.svg?eq1rxv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-expand:before {
    content: "\e90a";
}
.icon-anchor:before {
    content: "\e900";
}
.icon-arrow-angle-l:before {
    content: "\e901";
}
.icon-arrow-angle-r:before {
    content: "\e902";
}
.icon-diamond:before {
    content: "\e903";
}
.icon-digital_devices:before {
    content: "\e904";
}
.icon-lamp:before {
    content: "\e905";
}
.icon-plus:before {
    content: "\e906";
}
.icon-quotes:before {
    content: "\e907";
}
.icon-search:before {
    content: "\e908";
}
.icon-touch:before {
    content: "\e909";
}

/*#endregion X Icon font -----------------------------------------------------*/

/*#region X Common -----------------------------------------------------------*/

*{
    box-sizing: border-box;
}

html,
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.container{
    width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
}

.text_cyan{
    color: #18cfab;
}

.section-headline{
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
    color: #4e4e4e;
    position: relative;
    padding: 0 0 35px;
    margin: 0 0 70px;
    text-align: center;
}

.section-headline::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 88px;
    height: 5px;
    background: url("../img/headline_separator.svg") no-repeat center/contain;
}

.section__controls{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/*#region X.X Buttons */

.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    min-width: 165px;
    min-height: 65px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 10px 5px;
    border-radius: 4px;
    font-weight: 700;
    border: none;
    transition: background-color .3s ease;
    box-shadow: inset 0 5px 0 #fff;
    margin: 0 15px;
}

.btn [class^="icon-"]{
    font-size: 16px;
    line-height: 1;
    margin-right: 16px;
}

.btn_cyan{
    color: #fff;
    background-color: #18cfab;
}

.btn_cyan:hover{
    background-color: #02b390;
}

.btn_lightblue {
    color: #fff;
    background-color: #00cbf6;
}


.btn_lightblue:hover{
    background-color: #00a3c6;
}

/*#endregion X.X Buttons */

/*#region X.X Preloader */

.lds-ring {
    position: relative;
    width: 34px;
    height: 34px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;
    border: 4px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*#endregion X.X Preloader */

/*#endregion X Common --------------------------------------------------------*/

/*#region X Header -----------------------------------------------------------*/

.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(73,71,63,.6);
    color: #fff;
    z-index: 100;
    transition: background-color .3s ease;
}

.header.maxYOffset{
    background-color: rgba(20,20,20,.93);
    backdrop-filter: blur(5px);
}

.header .container{
    display: flex;
    align-items: center;
    min-height: 120px;
    transition: min-height .3s ease;
}

.header.maxYOffset .container{
    min-height: 70px;
}

.header-logo{
    display: flex;
    align-items: center;
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    transform-origin: left center;
    transition: transform .3s ease;
}

.header.maxYOffset .header-logo{
    transform: scale(.7);
}

.header-logo__img{
    width: 58px;
    flex-shrink: 0;
    margin: 0 8px 0 0;
}

.header-logo__name{
    color: #18cfab;
    font-weight: 700;
}

.header__menu{
    align-self: stretch;
    margin: 0 0 0 auto;
}

.header__menu-list{
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__menu-item{
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 0;
    margin: 0 19px 0 0;
}

.header__menu-item.active::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #18cfab;
}

.header__menu-link{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: #b8b8b8;
    transition: color .3s ease;
}

.header__menu-link:hover{
    color: #18cfab;
}

.header__menu-item.active .header__menu-link{
    color: #18cfab;
}

.header__search{
    padding: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    line-height: 1;
    color: #b8b8b8;
    transition: color .3s ease;
}

.header__search:hover{
    color: #18cfab;
}

/*#endregion X Header --------------------------------------------------------*/

/*#region X Title ------------------------------------------------------------*/

.title{
    background: #92918C url("../img/sections_background/section-1.jpg") no-repeat fixed center;
    color: #fff;
    padding-top: 120px;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.title__text{
    text-align: center;
    margin-bottom: 140px;
}

.title__pre{
    font-size: 35px;
    line-height: 42px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 17px;
}

.title__headline{
    font-size: 79px;
    line-height: 95px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 11px;
}

.title__desc{
    font-size: 34px;
    line-height: 41px;
    font-weight: 300;
}

/*#endregion X Title ---------------------------------------------------------*/

/*#region X advantages -------------------------------------------------------*/

.advantages{
    display: flex;
    min-width: 1160px;
    margin: 0 0 77px;
}

.advantages__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 25%;
    border-top: 7px solid #18cfab;
    background-color: #1c2a33;
    color: #18cfab;
    min-height: 374px;
    padding: 20px;
}

.advantages__item:nth-child(odd){
    border-top: 7px solid #fff;
    color: #fff;
    background-color: #18cfab;
}

.advantages__icon{
    font-size: 99px;
    margin-bottom: 43px;
}

.advantages__desc{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
}

/*#endregion X advantages ----------------------------------------------------*/

/*#region X tabs base --------------------------------------------------------*/

.tabs__head{
    display: flex;
}

.tabs__body-item{
    display: none;
}

.tabs__body-item.active{
    display: block;
}

.tabs__upload{
    text-align: center;
}

/*#endregion X tabs base -----------------------------------------------------*/

/*#region X services ---------------------------------------------------------*/

.services{
    margin: 0 0 104px;
}

.tabs_services .tabs__head{
    margin: 0 0 20px;
}

.tabs_services .tabs__anchor{
    width: 16.666%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 19px;
    padding: 17px;
    border: 1px solid #eeeeef;
    border-left-color: transparent;
    background-color: #f8fcfe;
    color: #717171;
    text-decoration: none;
    min-height: 72px;
    position: relative;
    cursor: pointer;
    transition: background-color .3s ease;
}

.tabs_services .tabs__anchor:hover{
    background-color: #e5f3fb;
}

.tabs_services .tabs__anchor:first-child{
    border-left-color: #eeeeef;
}

.tabs_services .tabs__anchor.active{
    background-color: #18cfab;
    border: 1px solid #18cfab;
    color: #fff;
}

.tabs_services .tabs__anchor.active::after{
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    width: 0;
    height: 0;
    transform: translateX(-50%);
    border: 11px solid transparent;
    border-top-color: #18cfab;
}

.tabs_services .tabs__body-item.active{
    display: flex;
    align-items: flex-start;
}

.services__image{
    margin: 5px 21px 0 0;
    flex-shrink: 0;
    width: 194px;
}

.services__text{

}

/*#endregion X services ------------------------------------------------------*/

/*#region X Buy now ----------------------------------------------------------*/

.buy-now{
    padding: 116px 0 128px;
    background: #322e2e url("../img/sections_background/section-2.jpg") no-repeat center/cover;
    color: #fff;
    position: relative;
}

.buy-now::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.78);
}

.buy-now__text{
    text-align: center;
    margin: 0 0 71px;
    position: relative;
    z-index: 5;
}

.buy-now__headline{
    text-transform: uppercase;
    color: #18cfab;
    font-size: 40px;
    line-height: 48px;
    margin: 0 0 19px;
}

.buy-now__desc{
    font-size: 16px;
    line-height: 27px;
    color: #d8d8d8;
}

.buy-now .section__controls{
    position: relative;
    z-index: 5;
}

/*#endregion X Buy now -------------------------------------------------------*/

/*#region X Portfolio --------------------------------------------------------*/

.portfolio{
    background-color: #f8fcfe;
    border-bottom: 1px solid #e1e1e1;
    padding: 90px 0 100px;
    margin: 0 0 79px;
}

.tabs_portfolio .tabs__head{
    justify-content: center;
    margin: 0 0 70px;
}

.tabs_portfolio .tabs__anchor{
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #717171;
    padding: 20px 20px 18px;
    border: 1px solid #ebebeb;
    border-left-color: transparent;
    position: relative;
    transition: color .3s ease, background-color .3s ease;
    cursor: pointer;
}

.tabs_portfolio .tabs__anchor:hover{
    background-color: #f5f5f5;
}

.tabs_portfolio .tabs__anchor::before{
    content: "";
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    background-color: #18cfab;
    transition: height .3s ease;
}

.tabs_portfolio .tabs__anchor:first-child{
    border-left-color: #ebebeb;
}

.tabs_portfolio .tabs__anchor.active{
    color: #18cfab;
}

.tabs_portfolio .tabs__anchor.active::before {
    height: 2px;
}

.tabs_portfolio .tabs__body{
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.tabs_portfolio .portfolio__image-item{
    display: block;
    width: 100%;
}

.tabs_portfolio .tabs__body{
    margin: 0 0 71px;
}

.tabs_portfolio .tabs__body-item{
    position: relative;
    perspective: 500px;
}

.portfolio__hover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: inset 0 2px 0 #18cfab;
    text-align: center;
    padding: 15px;
    transform: rotateY(90deg);
    transition: transform .3s ease;
}

.tabs_portfolio .tabs__body-item:hover .portfolio__hover{
    transform: rotateY(0);
}

.portfolio__anchors{
    margin: 0 0 24px;
}

.portfolio__anchors-item{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #18cfab;
    color: #18cfab;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    transition: background-color .3s ease, color .3s ease;
}

.portfolio__anchors-item:hover{
    background-color: #18cfab;
    color: #fff;
}

.portfolio__anchors-item [class^="icon-"]{
    line-height: 38px;
}

.portfolio__title{
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #18cfab;
    margin: 0 0 2px;
}

.portfolio__subtitle{
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: #8a8a8a;
}


/*#endregion X Portfolio -----------------------------------------------------*/

/*#region X Slick ------------------------------------------------------------*/

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
    outline: none;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/*#endregion X Slick ---------------------------------------------------------*/

/*#region X Breaking News ----------------------------------------------------*/

.news{
    margin: 0 0 131px;
}

.news-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px 29px;
}

.news-grid__item{
    text-decoration: none;
    color: #777777;
}

.news-grid__img-wrapper{
    position: relative;
}

.news-grid__published{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    padding: 10px 10px 6px;
    background-color: #203e38;
    color: #fff;
    min-width: 67px;
    transition: background-color .3s ease;
}

.news-grid__item:hover .news-grid__published{
    background-color: #18cfab;
}

.news-grid__img-item{
    display: block;
    width: 100%;
}

.news-grid__title{
    padding: 8px 13px 10px;
    border: 1px solid #ececec;
    border-top: none;
}

.news-grid__name{
    color: #717171;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 3px;
    transition: color .3s ease;
}

.news-grid__item:hover .news-grid__name{
    color: #18cfab;
}

.news-grid__meta{
    display: flex;
}

.news-grid__meta-item{
    padding: 0 19px 0 0;
    margin: 0 16px 0 0;
    position: relative;
    font-size: 14px;
    line-height: 20px;
}

.news-grid__meta-item::after{
    content: "";
    position: absolute;
    right: 0;
    top: 3px;
    height: 14px;
    border-left: 1px solid #b2b3b4;
}

.news-grid__meta-item:last-child{
    padding: 0;
    margin: 0;
}

.news-grid__meta-item:last-child::after{
    display: none;
}

/*#endregion X Breaking News -------------------------------------------------*/

/*#region X Testimonials -----------------------------------------------------*/

.testimonials{
    padding: 95px 0 100px;
    background: #03232c url("../img/sections_background/section-3.jpg") no-repeat center/cover;
    color: #fff;
    position: relative;
    margin: 0 0 93px;
}

.testimonials::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,.4);
}

.testimonials .container{
    position: relative;
    z-index: 5;
}

.testimonials .section-headline{
    color: #fff;
}

/*#region X Slider */

.slider_testimonials{
    margin: 0 0 53px;
    z-index: 5;
}

.slider_testimonials .slick-list{
    padding: 0 0 11px;
}

.slider_testimonials .slide::before{
    content: "\e907";
    display: block;
    font: 44px/30px 'icomoon';
    width: 44px;
    margin: 0 auto 35px;
    color: #18cfab;
}

.testimonials__text{
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    color: #bbbbbb;
    text-align: center;
    margin: 0 0 30px;
}

.testimonials__author{
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 27px;
    margin: 0 0 5px;
    color: #18cfab;
}

.testimonials__author-position{
    text-align: center;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    color: #bbbbbb;
    margin: 0 0 35px;
}

.testimonials__author-img{
    width: 142px;
    height: 142px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    border: 3px solid #18cfab;
    box-shadow: 0 0 0 11px rgba(31,218,181,.2);
}

.testimonials__author-img-item{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*#endregion X Slider */

/*#region X Carousel */

.carousel_testimonials{
    width: 391px;
    margin: 0 auto;
}

.carousel_testimonials .slick-list{
    padding: 15px 0 5px 0;
}

.carousel_testimonials .slide{
    margin: 0 20px;
}

.carousel_testimonials .slick-arrow{
    position: absolute;
    outline: none;
    font-size: 0;
    cursor: pointer;
    top: 50%;
    padding: 0;
    border: 1px solid #bbbbbb;
    color: #bbbbbb;
    background: none;
    width: 31px;
    height: 31px;
    transition:
            background-color .3s ease,
            border .3s ease,
            color .3s ease;
}

.carousel_testimonials .slick-arrow:hover{
    border: 1px solid #18cfab;
    border: 1px solid #18cfab;
    background-color: #18cfab;
    color: #fff;
}

.carousel_testimonials .slick-prev{
    left: 0;
    transform: translate(calc(-100% - 10px), calc(-50% + 5px));
}

.carousel_testimonials .slick-next{
    right: 0;
    transform: translate(calc(100% + 10px), calc(-50% + 5px));
}

.carousel_testimonials .slick-prev::before{
    content: "\e901";
}

.carousel_testimonials .slick-next::before{
    content: "\e902";
}

.carousel_testimonials .slick-prev::before,
.carousel_testimonials .slick-next::before{
    font: 12px/1 'icomoon';
}

.testimonials__thumb-img{
    width: 57px;
    height: 57px;
    border-radius: 50%;
    overflow: hidden;
    bottom: 0;
    transition: bottom .3s ease;
    box-shadow: 0 0 0 4px rgba(31,218,181,.2);
    position: relative;
}

.slick-current .testimonials__thumb-img {
    bottom: 11px;
    border: 1px solid #18cfab;
}

.testimonials__thumb-img-item{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*#endregion X Carousel */

/*#endregion X Testimonials --------------------------------------------------*/

/*#region X Gallery ----------------------------------------------------------*/

.gallery{
    margin: 0 0 82px;
}

.gallery__grid{
    margin: 0 0 49px;
}

.gallery__grid-sizer{
    width: 368px;
}

.gallery__item{
    width: 368px;
    margin: 0 0 18px;
}

.gallery__controls{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .3s ease;
    opacity: 0;
}

.gallery__item:hover > .gallery__controls,
.gallery__subitem:hover > .gallery__controls{
    opacity: 1;
}

.gallery__control-btn{
    width: 42px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #14b9d5;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    padding: 13px;
    margin: 0 4px;
    transition: background-color .3s ease;
}

.gallery__control-btn:hover {
    background-color: #00a3c6;
}

.gallery__control-btn [class^="icon-"]{
    font-size: 16px;
    line-height: 1;
}

.gallery__item img{
    display: block;
    width: 100%;
}

.gallery__item_subgallery{
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(6, 1fr);
}

.gallery__subitem{
    position: relative;
}

.gallery__subitem_md{
    height: 168px;
    grid-column: span 3;
}

.gallery__subitem_sm{
    height: 92px;
    grid-column: span 2;
}

.gallery__subitem .gallery__img-item{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*#endregion X Gallery -------------------------------------------------------*/

/*#region X Footer -----------------------------------------------------------*/

.footer{
    background-color: #22353f;
    padding: 39px 0 43px;
    color: #aeaeae;
}

.footer__copyright{
    text-align: center;
    font-size: 14px;
    line-height: 26px;
}

.footer__copyright-link{
    text-decoration: none;
}

.footer__copyright-link:hover{
    text-decoration: underline;
}

/*#endregion X Footer --------------------------------------------------------*/